body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./images/fkomputeran.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}

.login-box {
  width: 400px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.9); /* Slight transparency */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.login-text {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase; /* Make text uppercase */
}

.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.forgot-psw {
  text-align: center;
  margin-top: 4px;
}

.forgot-psw a {
  color: blue;
  text-decoration: underline;
  font-style: italic;
}

.forgot-psw a:hover {
  color: darkblue; /* Change color when hovered */
}

label .required {
  color: red;
}

@media screen and (max-width: 300px) {
  .forgot-psw {
    display: block;
    float: none;
  }
}
