@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    /*background-image: url("images/bg.jpg  ");*/
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(3.5px);
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ff0000;
    /*backdrop-filter: blur(17px);*/
    /*-webkit-backdrop-filter: blur(17px);*/
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 260px;
}

.sidebar .logo {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img {
    width: 43px;
    border-radius: 50%;
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    width: 100%;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #5a3434;
}

.links li span, .links li button {
    padding: 12px 10px;
}

.links li a {
    padding: 10px;
    color: #fff;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}

main {
    flex: 1;
    margin-left: 120px; /* Space for the sidebar */
    padding: 20px;
}

footer {
    text-align: center;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 110px; /* Space for the sidebar */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
}
