#filterTime {
    font-size: 16px;
}

h3 {
    padding: 10px;
    margin: auto;
}

main {
    flex: 0;
    margin-left: 150px; /* Space for the sidebar */
    padding-top: 10px;
}

.form {
    margin: 20px;
    display: block;
    background-color: white;
    width: 90%;
    height: 500%;
}
label {
    margin: 10px;
}