.container-details-confirmed {
    display: block;
    position: inherit;
    margin-top: 30px; /* Adjust margin-top to create space between container-details and top */
    margin-left: 150px;
    padding: 10px;
    width:inherit;
    border-radius: 10px;
    background-color: white;
    color: black;
}

/* Styles for the text inside the container-details */
.container-details-confirmed h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.container-details-confirmed p {
    color: #666;
    font-size: 16px;
    margin-bottom: 5px;
}

/* Styles for the image inside the container-details */
.container-details-confirmed img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
